#class-nav {
  display: flex;
  background-color: white;
  /* text-align: center; */
  width: 99vw;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 10px black;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  text-align: center;
  border-right: 3px solid rgb(212, 207, 207);
  padding-right: 10px;
  background-color: white;
}

.nav-img img {
  height: 40px;
  background-color: white;
  border-radius: 8px;

}

.lesson-name {
  display: inline-block;
  text-align: left;
  position: absolute;
  background-color: white;
  left: 80px;
}

.timer {
  position: absolute;
  background-color: white;
  right: 150px;
}

.modal {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  /* background-color: rgb(149, 40, 40);
       */
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.modal-content h2 {
  background-color: white;
}

.option {
  background-color: white;
  margin: 20px 0;
}

.option label {
  background-color: white;
}

.option input[type="radio"] {
  background-color: white;
  margin-right: 10px;
  accent-color: #ff5a43;
}

.btn-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.menu-icon {
  display: none;
}

.sub-options {
  margin-left: 30px;
  background-color: white;
}

textarea {
  margin-left: 20px;
  background-color: white;
  border-radius: 4px;
  resize: none;
  padding: 3px;
}

@media (max-width: 800px) {
  .lesson-name {
    display: none;
  }

  .nav-img {
    border: none;

  }

  #btn-container {
    display: none;

  }

  .menu-icon {
    display: block;
  }

  .timer {
    display: none;
  }

  #class-nav {
    justify-content: space-around;
  }

  .second-row {
    background-color: white;
  }

  .btn-container-center {
    background-color: white;

    text-align: center;
  }
}