#nav
{
    /* background-color: rgb(172, 13, 13); */
    /* height: 60px; */
    background-color: white;
    text-align: center;
    width: 99vw;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px black;
    margin-bottom: 50px;
    
}
#nav img{
    height: 40px;
    background-color: white;
}
h1{
    background-color: white ;
}